<div class="page-header">
  <h1>EnerLeave Help: Toil</h1>
</div>

<div id="content">
  <div class="paragraph">
    <p>
      Text for Toil
    </p>
  </div>
  <div class="paragraph">
    <p>Can't find what you're looking for? Email helpdesk@eneraque.com</p>
    <ul>
      <li><%= link_to "Help With Login", help_login_path %></li>
      <li><%= link_to "Help With Users", help_user_path %></li>
      <li><%= link_to "Help With Leave Requests", help_leave_path %></li>
      <li><%= link_to "Help With Toil Requests", help_toil_path %></li>
    </ul>
  </div>
</div>
