<div class="page-header">
  <h1>Choose User to Remove</h1>
</div>
<div class="content">
  <input id="filter" type="text" class="form-control" placeholder="Search For...">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="ener-header"><h4>Employee</h6></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="searchable">
      <% @users.each do |this_user| %>
        <tr>
          <td><%= format_name(this_user.email) %></td>
          <td>
            <div class="btn-group">
              <%= link_to "Remove User", remove_user_path(params[:travel_request_id], @travel_leg, this_user), method: :destroy_user, class: 'btn btn-xs btn-danger' %>
            </div>
          </td>
        <tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "back", travel_request_travel_leg_path(params[:travel_request_id], @travel_leg), class: "btn btn-sm btn-info" %>
</div>
