<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have been assigned as the manager for: <%= @user.email %></h1>
    <p>
      You will receive this users leave requests for approval.
    </p>
    <p>
      To view this user please follow this link: <%= @url %>.
    </p>
  </body>
</html>
