<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %> has set <%= @user.manager_email %> as their manager when they are not a manager</h1>
    <p>
      To Login to this user follow this link <%= @url %>.
    </p>
  </body>
</html>
