<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your Toil Request has been rejected</h1>
    <p>
      Your manager or an admin has rejected your leave request.<br><br>
      The reason supplied for this was: <%= @comment %><br><br>
      This leave request was created at <%= @toil.created_at %>.<br>
      Start Date: <%= @toil.date_accrued %><br>
      This leave request was created for <%= @toil.initial_amount %> minutes.<br>
      This Leave Request will need to be relodged.
    </p>
  </body>
</html>
