<div class="page-header">
  <h1>Approved Requests between <%= @start_date %> and <%= @end_date %></h1>
  <h4>There are <%= @unapproved_requests.count %> unapproved requests in this period</h4>
</div>

<%= render 'leave_table' %>
