<h1>Editing Leave Request for <%= User.find(@leave_request.user).email %></h1>

<%= render 'form' %>

<div class="btn-group">
  <%= link_to 'Show', @leave_request, class: 'btn btn-xs btn-primary' %>
  <%= link_to 'Back', leave_requests_path, class: 'btn btn-xs btn-primary' %>
</div>
