<%= render 'calendar' %>

<div id="content">
  <div class="container">
    <h1 style="color: #263746;">Leave Requests Calendar (<%= @leave_requests.count %> Approved)</h1>
  </div>
</div>

<%= render 'leave' %>
  
