<div id="content">
  <div calss="paragraph">
    <h1>Edit Password for <%= format_name(@user.email) %></h1>

    <%= render 'password' %>

    <%= link_to "Back", user_path(@user), class: 'btn btn-sm btn-primary' %>
  </div>
</div>
