<h1>Listing spend_toils</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spend_toils.each do |spend_toil| %>
      <tr>
        <td><%= link_to 'Show', spend_toil, class: "btn btn-xs btn-info" %></td>
        <td><%= link_to 'Edit', edit_spend_toil_path(spend_toil), class: "btn btn-xs btn-info" %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spend toil', new_spend_toil_path, class: "btn btn-sm btn-primary" %>
