<div class="page-header">
  <h1>Editing car_hire</h1>
</div>
<div class="content">
  <%= render 'edit' %>

  <%= link_to 'Back', travel_request_travel_leg_car_hire_path(params[:travel_request_id], params[:travel_leg_id], @car_hire), class: "btn btn-sm btn-primary" %>
</div>
