<div class="page-header">
	<h1>New toil_request</h1>
</div>
<div>
	<div class="paragraph">
		<%= render 'form', :this_user => @this_user %>
	</div>

	<%= link_to 'Back', toil_requests_path, class: "btn btn-sm btn-info" %>
</div>
