/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "bootstrap";
@import "bootstrap/theme";

.navbar {
  background-color: #263746;
  border-color: #385167;
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  color: #dedede;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-text {
  color: #dedede;
}
.navbar .navbar-nav > li > a {
  color: #dedede;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #385167;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border-color: #333;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #333;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #101010;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #385167;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu .divider {
    background-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #dedede;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #385167;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar .navbar-link {
  color: #dedede;
}
.navbar .navbar-link:hover {
  color: #fff;
}